.loadContainer {
  position: absolute;
  top: calc(50% - 40px);
  left: calc(50% - 40px);
}
.ldsHeart {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  transform: rotate(45deg);
  transform-origin: 40px 40px;
  filter: drop-shadow(0 4px 32px rgba(51,51,255,.5));
}
.ldsHeart div {
  top: 32px;
  left: 32px;
  position: absolute;
  width: 32px;
  height: 32px;
  background: #fff;
  animation: ldsHeart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}
.ldsHeart div:after,
.ldsHeart div:before {
  content: " ";
  position: absolute;
  display: block;
  width: 32px;
  height: 32px;
  background: #fff;
}
.ldsHeart div:before {
  left: -24px;
  border-radius: 50% 0 0 50%;
}
.ldsHeart div:after {
  top: -24px;
  border-radius: 50% 50% 0 0;
}
@keyframes ldsHeart {
  0% {
    transform: scale(0.95);
  }
  5% {
    transform: scale(1.1);
  }
  39% {
    transform: scale(0.85);
  }
  45% {
    transform: scale(1);
  }
  60% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(0.9);
  }
}
