.container {
  position: relative;
  display: flex;
  align-items: center;
}

.container div {
  width: 100%;
}

.container :global(.constructor-element__price) {
  margin-left: auto;
}

.dragItem {
  position: absolute;
  left: 0;
  cursor: ns-resize;
}
