.nutrientsContainer {
  display: flex;
  gap: calc(var(--offset-base-size) * 5);
  list-style: none;
  margin: 0;
  padding: 0;
}

.name {
  text-align: center;
}

.nutrient {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
